
*{
  margin: 0;
  padding: 0;
}
body{
  text-align: center;
}
.wrapper {
  width: 100%;
  margin: 0 auto;
}

header {
  height: 50px;
  background: #262626;
  width: 100%;
  z-index: 12;
  position: fixed;
}

.logo {
  width: 30%;
  float: left;
  line-height: 100px;
}

.logo a {
  text-decoration: none;
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
  color: #fff;
  letter-spacing: 5px;
}

nav {
  float: right;
  line-height: 50px;

}
nav a {
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing:  4px;
  font-size: 20px;
  margin: 0 10px;
  color: #fff;
}

.banner-area {
  width: 100%;
  height: 500px;
  position: fixed;
  top:50px;
  background-image: url(../assets/images/folklore-banner.jpg);
  -webkit-background-size: cover;
  background-size:  cover;
  background-position: center center;
}

.banner-area h2 {
  padding-top: 8%;
  font-size: 60px;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 3px 3px 8px #0534b6;
}

.content-area {
  width: 100%;
  position: relative;
  top: 550px;
  background:#ddd;
  height: 750px;
}

.content-area h2{
  font-family: serif;
  letter-spacing: 4px;
  padding-top: 15px;
  font-size: 40px;
  margin: 0;
}
.content-area p {
  padding: 2% 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  line-height: 30px;
}
/*
.banner-area-2 {
  width: 100%;
  height: 500px;
  position: fixed;
  top: 250px;
  background-image: url(../assets/images/indigenismo.jpeg);
  -webkit-background-size: cover;
  background-size:  cover;
  background-position: center center;
}
*/